@import 'https://fonts.googleapis.com/css?family=Montserrat:400';
@import 'https://fonts.googleapis.com/css?family=Montserrat:700';

:root {
    font-size: 11pt;
    --panel-width: 40rem;
    --panel-height: 17rem;
    --panel-padding: 1rem;
    --panel-border-radius: 0.5rem;
    --temperature-bar-height: 1.25rem;
    --margin-between-days: 1.5rem;
    --color-text: #333;
    --color-accent: #333;/*#1e5799;*/
    --color-dimmed: rgba(0, 0, 0, 0.5);
    --color-positive: #278454;
    --color-negative: #A93333;
    --color-panel-bg: white;
    --color-bar-bg: rgba(255, 255, 255, 0.05);
    --color-shadow: rgba(0, 0, 0, 0.07);
    --color-page-bg: #FFFFFF;

    --top-container-grid-template-rows: 2fr /*auto*/;
    --top-container-grid-template-columns: 1fr 1fr 1fr;
    --top-container-grid-template-areas: "icon weather air"
                                         /*"hourly hourly hourly"*/;

    --top-values-grid-template-rows: auto auto;
    --top-values-grid-template-columns: auto auto;
    --top-values-grid-template-areas: "main-value main-unit"
                                      "secondary secondary";
}

body {
    margin: 0.5rem;
    font-family: Montserrat, Verdana;
    background: var(--color-page-bg);
    color: var(--color-text);
    letter-spacing: 0.03rem;
    font-weight: 700;
}

div.info-box {
    width: var(--panel-width);
    margin: var(--margin-between-days) auto 0 auto;
    position: relative;
    display: grid;
}

div.info-box:not(.current) {
    grid-template-rows: auto;
    grid-template-columns: 3rem 2.5rem 1fr;
    grid-template-areas: "day icon bar";
    grid-gap: 1rem;
    align-items: center;
    width: calc(var(--panel-width) - var(--panel-padding));
}

div.info-box span.day-of-week {
    grid-area: day;
    color: var(--color-accent);
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

div.info-box:nth-child(2) span.day-of-week {
    border: 2px solid var(--color-accent);
}

div.info-box:not(.current)[day-of-week="Sb"] span.day-of-week,
div.info-box:not(.current)[day-of-week="Nd"] span.day-of-week {
    color: var(--color-dimmed);
}

div.info-box:not(.current).shops-open span.day-of-week {
    color: var(--color-positive);
    border-color: var(--color-positive);
}

div.info-box:not(.current).shops-closed span.day-of-week {
    color: var(--color-negative);
    border-color: var(--color-negative);
}

div.info-box:not(.current).shops-closed span.day-of-week:after {
    content: '|';
    transform: rotateZ(76deg) scaleY(1.6) scaleX(0.5);
    color: transparent;
    position: absolute;
    left: 1.3rem;
    box-shadow: inset 0px 0px 0rem 1rem var(--color-negative), -2px 0px 0 0rem var(--color-page-bg);
}

div.info-box:not(.current)[day-of-week="Nd"] span.day-of-week:hover {
    cursor: pointer;
    background: var(--color-shadow);
}

div.info-box canvas {
    grid-area: icon;
    width: 2.5rem;
    margin: 0 auto;
}

div.temperature-range {
    grid-area: bar;
    display: grid;
    grid-auto-flow: column;
    margin: 0 2rem;
}

div.temperature-range span.bar {
    height: var(--temperature-bar-height);
    background: var(--color-accent);
    border-radius: var(--panel-width);
    line-height: var(--temperature-bar-height);
    position: relative;
}

div.temperature-range span.bar:before,
div.temperature-range span.bar:after {
    width: 2rem;
    letter-spacing: 0.05rem;
    position: absolute;
    font-size: 90%;
}

div.temperature-range span.bar:before {
    content: attr(temp-min) "˚";
    text-align: right;
    left: -2.3rem;
}

div.temperature-range span.bar:after {
    content: attr(temp-max) "˚";
    right: -2.5rem;
}

div.info-box.current {
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: var(--top-container-grid-template-rows);
    grid-template-columns: var(--top-container-grid-template-columns);
    grid-template-areas: var(--top-container-grid-template-areas);
    grid-gap: 1.5rem 0;
    
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-shadow);
}

div.hourly-bar {
    grid-area: hourly;
    display: grid;
    grid-template-rows: 2rem;
    border-radius: 0.25rem;
    overflow: hidden;
    display: none;
}

div.hourly-bar div {
    height: 2rem;
}

div.hourly-bar div.clear {
    background: #dedede;
}

div.hourly-bar div.partly-cloudy {
    background: #c5c5c5;
}

div.hourly-bar div.cloudy {
    background: #9c9c9c;
}

div.hourly-bar div.rain {
    background: #77a5da;
}

div.hourly-bar div.fog {
    background: repeating-linear-gradient(to bottom, darkgrey 0, darkgrey 2px, silver 4px, silver 6px);
}


div.weather {
    grid-area: weather;
}

div.air-quality {
    grid-area: air;
}

div.weather *,
div.air-quality * {
    height: fit-content;
    width: fit-content;
}

div.current canvas {
    grid-area: icon;
    width: 4rem;
    margin: 0 auto;
}

div.weather,
div.air-quality {
    display: grid;
    justify-content: center;
    grid-template-rows: var(--top-values-grid-template-rows);
    grid-template-columns: var(--top-values-grid-template-columns);
    grid-template-areas: var(--top-values-grid-template-areas);
    grid-gap: 0.5rem 0;
}

div.weather span.temperature-value,
div.air-quality span.percentage-value {
    grid-area: main-value;
    font-size: 3.3rem;
    line-height: 2.9rem;
    justify-self: end;
    font-weight: 400;
}

div.weather span.temperature-unit,
div.air-quality span.percentage-unit{
    grid-area: main-unit;
    font-size: 1.3rem;
}

div.weather span.apparent-temperature,
div.air-quality span.caqi {
    grid-area: secondary;
    justify-self: center;
}

div.air-quality span.percentage-unit {
    margin-left: 0.25rem;
}

@media (min-width: 50em) and (max-width: 60em) {
:root {
    font-size: 10pt;
}
}

@media (min-width: 40em) and (max-width: 50em) {
:root {
    font-size: 9pt;
}
}

@media (max-width: 40em) {
:root {
    --panel-width: 28rem;
    font-size: 9pt;
}
}
